<div class="attachment__control">
  <file-pond
    #filePond
    [options]="pondOptions"
    (oninit)="pondHandleInit()"
    (onremovefile)="pondHandleRemoveFile($event)"
    (onprocessfile)="pondHandleProcessFile($event)">
  </file-pond>
  <div class="text-center thumbs-container">
    <div *ngFor="let file of files;let i = index" class="thumb__item img-thumbnail">
      <img *ngIf="file.thumb" [src]="file.thumb" (click)="open(content, file.id)">
      <div class="thumb__item--data">
        <i [ngClass]="'fiv-cla fiv-icon-'+file.type"></i>
        <span class="thumb__item--filename">{{file.name}}</span>
      </div>
      <div class="thumb-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <button type="button" class="btn btn-sm btn-outline-dark thumb__item--remove" (click)="removeFile(file.id)"><span aria-hidden="true">&times;</span></button>
    </div>
  </div>
</div>
<ng-template #content let-d="dismiss">
  <button type="button" class="close" aria-label="Close" (click)="d('')">
    <span aria-hidden="true">&times;</span>
  </button>
  <ngb-carousel *ngIf="files" [(activeId)]="activeId"  #fileCarousel="ngbCarousel" (slide)="logSlide($event)" interval="100000">
    <ng-template ngbSlide  *ngFor="let file of files;let i = index" [id]="file.id">
     <h4 class="filename">{{file.name}}</h4>
      <app-txtreader [src]="file.src" *ngIf="file.type === 'txt'"></app-txtreader>
      <app-imgpreviewer [src]="file.src" *ngIf="file.contentType === 'image'"></app-imgpreviewer>
      <ngx-extended-pdf-viewer [showOpenFileButton]="false" [src]="file.src" *ngIf="file.type == 'pdf' && activeId === file.id" useBrowserLocale="false"></ngx-extended-pdf-viewer>
    </ng-template>
  </ngb-carousel>
</ng-template>
